.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
}
.grid-item {
  display: flex;
  justify-content: center;
}  
.center-item {
  margin-top: 20px;
  margin-bottom: 20px;
}